# Directories
SD_ENV/*
SYNTH_ENV/*
data/*

# Model
model/*
!model/final
!model/config_archive

# Files
*.pyc

# LaTeX Reports
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.toc

# Docs
docs/*
!docs/Doxyfile
!docs/html
!docs/latex
docs/html/*
!docs/html/index.html
docs/latex/*
!docs/latex/refman.pdf
